{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

    <title>Storee Barber Shop Rating</title>
</head>

<body>
    <div class="container py-4">
        {% if request.user.is_admin %}
            <h4 class="border-bottom pb-3">
                <a href="{% url 'stat' %}" class="btn btn-info btn-sm">Back</a>

                {% if name %}
                    Rating untuk: {{ name }} ({{ total }} order)
                {% else %}
                    Rating dari {{ total }} order
                {% endif %}
            </h4>

            {% if name %}
                <div class="form-group mb-3">
                    <label class="input-label">Filter Rating</label>
                    <select id="star-filter" class="form-control star-filter">
                        <option value="">Semua</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            {% else %}
                <div class="form-group mb-3">
                    <label class="input-label">Rating Kasir</label>
                    <select id="star-filter-rcashier" class="form-control star-filter" invoked="rcashier">
                        <option value="">Semua</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label class="input-label">Rating Barberman</label>
                    <select id="star-filter-rbarberman" class="form-control star-filter" invoked="rbarberman">
                        <option value="">Semua</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label class="input-label">Rating Management</label>
                    <select id="star-filter-rmanagement" class="form-control star-filter" invoked="rmanagement">
                        <option value="">Semua</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label class="input-label">Rating Kebersihan</label>
                    <select id="star-filter-rhygiene" class="form-control star-filter" invoked="rhygiene">
                        <option value="">Semua</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            {% endif %}

            <ol class="list-unstyled">
                {% for rating in object_list %}
                    <li class="border-bottom pb-3 mb-3">
                        <div class="font-weight-bold">
                            {{ rating.order.customer.name }}
                        </div>

                        <div class="small">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {{ rating.order.customer.msisdn }}
                        </div>

                        <div>
                            {{ rating.create_at|date }}
                            
                            <div class="mt-2">
                                {% if is_cashier %}

                                    {% with ''|center:rating.rcashier as range %}
                                        {% for _ in range %}
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        {% endfor %}
                                    {% endwith %}

                                {% elif is_barberman %}

                                    {% with ''|center:rating.rbarberman as range %}
                                        {% for _ in range %}
                                            <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                        {% endfor %}
                                    {% endwith %}

                                {% else %}
                                    <div>
                                        Kasir: 
                                        {% with ''|center:rating.rcashier as range %}
                                            {% for _ in range %}
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>

                                    <div>
                                        Barberman: 
                                        {% with ''|center:rating.rbarberman as range %}
                                            {% for _ in range %}
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>

                                    <div>
                                        Manajemen: 
                                        {% with ''|center:rating.rmanagement as range %}
                                            {% for _ in range %}
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>

                                    <div>
                                        Kebersihan: 
                                        {% with ''|center:rating.rhygiene as range %}
                                            {% for _ in range %}
                                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>No ratings yet.</li>
                {% endfor %}
            </ol>

            <div class="pagination justify-content-center">
                <span class="step-links d-flex align-items-center">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-light btn-sm">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                    <a
                    href="?page={{ page_obj.previous_page_number }}"
                    class="btn btn-light btn-sm ml-1"
                    >
                        <i class="fa fa-angle-left"></i>
                    </a>
                    {% endif %}

                    <span class="current mx-2">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                    <a
                    href="?page={{ page_obj.next_page_number }}"
                    class="btn btn-light btn-sm mr-1"
                    >
                        <i class="fa fa-angle-right"></i>
                    </a>

                    <a
                    href="?page={{ page_obj.paginator.num_pages }}"
                    class="btn btn-light btn-sm"
                    >
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/jquery.query-object.js' %}"></script>

    <script type="text/javascript">
        let user_id = "{{ user_id }}";
        let page_url = "{% url 'rating' %}";
        let rating = $.query.get('rating');
        let rcashier = $.query.get('rcashier');
        let rbarberman = $.query.get('rbarberman');
        let rmanagement = $.query.get('rmanagement');
        let rhygiene = $.query.get('rhygiene');

        if (rating !== true) {
            $('#star-filter').val(rating);
        }

        if (rcashier !== true) {
            $('#star-filter-rcashier').val(rcashier);
        }

        if (rmanagement !== true) {
            $('#star-filter-rmanagement').val(rmanagement);
        }

        if (rhygiene !== true) {
            $('#star-filter-rhygiene').val(rhygiene);
        }

        if (rbarberman !== true) {
            $('#star-filter-rbarberman').val(rbarberman);
        }

        $(document).on('change', '.star-filter', function(e) {
            let value = $(this, 'option:selected').val();
            let invoked = $(this).attr('invoked');
            let url;

            if (invoked) {
                let current = $.query.toString();
                
                if (current) {
                    current = current.replace('?', '');
                    current_arr = current.split('=');
                    $.query.REMOVE(current_arr[0], current_arr[1]);
                }

                url = page_url + $.query.set(invoked, value).toString();
            } else {
                url = page_url + (user_id ? user_id : '') + (value != '' ? $.query.set('rating', value).toString() : '');
            }

            window.location.href = url;
        });
    </script>
</body>

</html>