<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Storee Barber Shop Stat</title>
</head>

<body>

    <div class="container py-4">
        <h3>Rating Overall</h3>
        
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <canvas id="myChart-overall" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <h3>Rating Barberman</h3>

        <div class="row">
            {% for data in barberman_ratings %}
            <div class="col-12 col-sm-6">
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <canvas id="myChart-{{ data.id }}" height="200"></canvas>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
<h3>Rating Cashier</h3>
<div class="row">
    {% for data in cashier_ratings %}
    <div class="col-12 col-sm-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <canvas id="myChart-{{ data.id }}" height="200"></canvas>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" crossorigin="anonymous"></script>

    {{ barberman_ratings_json|json_script:"barberman-rating" }}
    {{ cashier_ratings_json|json_script:"cashier-rating" }}
    {{ rating_overall_json|json_script:"rating-overall" }}

    <script>
            const barberman_ratings = JSON.parse(document.getElementById('barberman-rating').textContent);
            const cashier_ratings = JSON.parse(document.getElementById('cashier-rating').textContent);
            const rating_overall = JSON.parse(document.getElementById('rating-overall').textContent);

            // OVERALL
            const ctx = document.getElementById('myChart-overall');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Barberman', 'Cashier', 'Management', 'Hygiene'],
                    datasets: [{
                        label: false,
                        data: [
                            rating_overall.rbarberman,
                            rating_overall.rcashier,
                            rating_overall.rmanagement,
                            rating_overall.rhygiene
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1,
                        barPercentage: 0.9,
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: 'Total Booking ' + rating_overall.total,
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'User'
                            },
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Rataan Rating'
                            },
                            min: 0,
                            max: rating_overall.total,
                            ticks: {
                                // forces step size to be 50 units
                                stepSize: 1
                            }
                        },
                    }
                }
            });

    // BARBERMAN
    $.each(barberman_ratings, function (i, v) {
        const ctx = document.getElementById('myChart-' + v.id);
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['1', '2', '3', '4', '5'],
                datasets: [{
                    label: false,
                    data: [
                        v.star_1_count,
                        v.star_2_count,
                        v.star_3_count,
                        v.star_4_count,
                        v.star_5_count
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1,
                    barPercentage: 0.9,
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: v.name + ' (rataan rating: ' + v.rating_average + ' dari ' + v.total_order + ' booking)',
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Rating'
                        },
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Jumlah Booking'
                        },
                        min: 0,
                        max: 5,
                        ticks: {
                            // forces step size to be 50 units
                            stepSize: 1
                        }
                    },
                }
            }
        });
    });

            // CASHIER
            $.each(cashier_ratings, function (i, v) {
            const ctx = document.getElementById('myChart-' + v.id);
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['1', '2', '3', '4', '5'],
                    datasets: [{
                        label: false,
                        data: [
                            v.star_1_count,
                            v.star_2_count,
                            v.star_3_count,
                            v.star_4_count,
                            v.star_5_count
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)'
                        ],
                        borderWidth: 1,
                        barPercentage: 0.9,
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: v.name + ' (rataan rating: ' + v.rating_average + ' dari ' + v.total_order + ' booking)',
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Rating'
                            },
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Jumlah Booking'
                            },
                            min: 0,
                            max: v.total_order,
                            ticks: {
                                // forces step size to be 50 units
                                stepSize: 1
                            }
                        },
                    }
                }
            });
        });
    </script>

</body>

</html>